<h1>Author Details</h1>
<p>
    {{ author.username }}<br>
    Email: {{ author.email }}<br>
    Number of Books: {{ author.nb_books }}
    <img src="{{ asset(author.image) }}" alt="{{ author.username }} Image" height="100px" width="100px">
</p>
<a href="{{ path('list_author') }}">Back to List</a>