{% extends 'baseBack.html.twig' %}

{% block title %}Liste des Constats Vehicules{% endblock %}

{% block back %}
    <div class="container">
        <h1 style="color: white; margin-bottom: 20px;">Liste des Constats Vehicules</h1>
        <div class="container mb-4">
            <form action="{{ path('app_constatVehicule_indexbackkkk') }}" method="get" class="row justify-content-center">
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" id="search" name="search" class="form-control rounded-pill" placeholder="Rechercher..." required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary rounded-pill">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table" style="background-color: #fff; border-collapse: collapse; border: 1px solid #dee2e6;">
                        <thead style="background-color: #343a40; color: #fff;">
                        <tr>
                            <th >Nom</th>
                            <th>Prénom</th>
                            <th>CIN</th>
                            <th>Type Véhicule</th>
                            <th>Marque</th>
                            <th>Matricule</th>
                            <th>Lieu</th>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for constat in constatVehicule %}
                            <tr>
                                <td style="padding: 8px;">{{ constat.Nom }}</td>
                                <td style="padding: 8px;">{{ constat.Prenom }}</td>
                                <td style="padding: 8px;">{{ constat.CIN }}</td>
                                <td style="padding: 8px;">{{ constat.TypeVehicule }}</td>
                                <td style="padding: 8px;">{{ constat.marque }}</td>
                                <td style="padding: 8px;">{{ constat.matricule }}</td>
                                <td style="padding: 8px;">{{ constat.lieu }}</td>
                                <td style="padding: 8px;">{{ constat.date ? constat.date|date('Y-m-d') : '' }}</td>
                                <td style="padding: 8px;">{{ constat.description }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" style="text-align: center; padding: 8px;">Aucun constat véhicule trouvé.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(constatVehicule) }}
        </div>
    </div>

    <div class="text-center mt-4">
        <a href="{{ path('stats') }}" class="btn btn-primary">Aller à la page des Statistiques</a>
    </div>

{% endblock %}