{% extends 'baseBack.html.twig' %}
{% block title %}Liste des Constats Vie{% endblock %}

{% block back %}
    <div class="container">
        <h1 style="color: white;">Liste des Constats Vie</h1>
        <a href="{{ path('app_constatvie_sort') }}" class="btn btn-primary mb-3">Trier par Date de Décès</a>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">CIN</th>
                    <th scope="col">Date de Décès</th>
                    <th scope="col">Cause de Décès</th>
                    <th scope="col">Identifiant de l'informant</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for constatvie in constatvies %}
                    <tr>
                        <th scope="row">{{ constatvie.id }}</th>
                        <td>{{ constatvie.Nom }}</td>
                        <td>{{ constatvie.Prenom }}</td>
                        <td>{{ constatvie.CIN }}</td>
                        <td>{{ constatvie.DateDeDeces ? constatvie.DateDeDeces|date('Y-m-d') : '' }}</td>
                        <td>{{ constatvie.CauseDeDeces }}</td>
                        <td>{{ constatvie.IdentifiantDeLinformant }}</td>
                        <td>
                            <a href="{{ path('app_cosntat_pdf', {'id': constatvie.id}) }}" class="btn btn-success">PDF</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun constat vie trouvé.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}