<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/about/1.png') }}">
		<link rel="icon" type="image/png" href="{{ asset('assets/img/about/1.png') }}">
		<title>
			{% block title %}
				Admin
			{% endblock %}
		</title>
		<!--     Fonts and icons     -->
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
		<!-- Nucleo Icons -->
		<link href="{{ asset('assets/css/nucleo-icons.css') }}" rel="stylesheet"/>
		<link
		href="{{ asset('assets/css/nucleo-svg.css') }}" rel="stylesheet"/>
		<!-- Font Awesome Icons -->
		<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
		<link
		href=" {{asset('assets/css/nucleo-svg.css')}}" rel="stylesheet"/>
		<!-- CSS Files -->
		<link id="pagestyle" href=" {{asset('assets/css/argon-dashboard.css?v=2.0.4')}}" rel="stylesheet"/>
	</head>

	<body class="g-sidenav-show   bg-gray-100">
		<div class="min-height-100 bg-primary position-absolute w-100"></div>
		<aside class=" sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
			<div class="sidenav-header">
				<i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
				<a class="navbar-brand m-0"  target="_blank">
					<img src="{{ asset('assets/img/logo-ct-dark.png') }}" class="navbar-brand-img h-100 width=100 height=380" alt="main_logo">
					<span class="ms-1 font-weight-bold">RiskGuard</span>
				</a>
			</div>
			<hr class="horizontal dark mt-0">
			<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
				<ul class="navbar-nav">

					{% block Clients  %}
					<li class="nav-item">
						<a class="nav-link active" href="./indexback.html">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								<i class="fas fa-user text-primary text-sm opacity-10 mb-2"></i>
							</div>
							<span class="nav-link-text ms-1" style="letter-spacing: 0.5px;">Clients</span>
						</a>
					</li>
					 {% endblock %}

					<li class="nav-item mt-2">
						<a class="nav-link active" href="{{path('client_add')}}">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								<i class="fas fa-plus text-primary text-sm opacity-10 mb-2"></i>
							</div>
							<span class="nav-link-text ms-1" style="letter-spacing: 0.5px;">Ajouter un client</span>
						</a>
					</li>

					
					<li class="nav-item">
						<a class="nav-link" href="./pages/User.html">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								{# <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i> #}
							</div>
							<span class="nav-link-text ms-1">  </span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="./pages/Employes.html">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								{# <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i> #}
							</div>
							<span class="nav-link-text ms-1">  </span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="./pages/Reclamations.html">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								{# <i class="ni ni-credit-card text-success text-sm opacity-10"></i> #}
							</div>
							<span class="nav-link-text ms-1">  </span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="./pages/Reponses.html">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								{# <i class="ni ni-credit-card text-success text-sm opacity-10"></i> #}
							</div>
							<span class="nav-link-text ms-1">  </span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="./pages/Marketing.html">
							<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
								{# <i class="ni ni-credit-card text-success text-sm opacity-10"></i> #}
							</div>
							<span class="nav-link-text ms-1">  </span>
						</a>
					</li>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./pages/Finances.html">
						<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
							{# <i class="ni ni-app text-info text-sm opacity-10"></i> #}
						</div>
						<span class="nav-link-text ms-1">  </span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="./pages/Assurances.html">
						<div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
							{# <i class="ni ni-app text-info text-sm opacity-10"></i> #}
						</div>
						<span class="nav-link-text ms-1">  </span>
					</a>
				</li>
				<li class="nav-item mt-3">
					<h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6"></h6>
				</li>
			</ul>
		</div>
	</aside><main
class="main-content position-relative border-radius-lg ">
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
	<div class="container-fluid py-1 px-3">
		<div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
			<div class="ms-md-auto pe-md-3 d-flex align-items-center">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Type here...">
					<span class="input-group-text bg-white">
						<i class="fas fa-search text-primary" aria-hidden="true"></i>
					</span>
				</div>
			</div>
			<ul class="navbar-nav  justify-content-end">
				<li class="nav-item d-flex align-items-center">
					<a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
						<i class="fa fa-user me-sm-1"></i>
						<span class="d-sm-inline d-none">Sign In</span>
					</a>
				</li>
				<li class="nav-item d-xl-none ps-3 d-flex align-items-center">
					<a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line bg-white"></i>
							<i class="sidenav-toggler-line bg-white"></i>
							<i class="sidenav-toggler-line bg-white"></i>
						</div>
					</a>
				</li>
				<li class="nav-item px-3 d-flex align-items-center">
					<a href="javascript:;" class="nav-link text-white p-0">
						<i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
</div>
</nav><!-- End Navbar -->


	<div class="container-fluid py-4">
		<div style="width:100%; height:500px; background-color: rgb(255, 255, 255); margin-top:20px; border-radius: 5px; padding-right:10px; ">
			<div style="padding-left: 10px; ">
				<div style="padding-top: 10px; ">
					{% block body %}

						{% block pagetitle %}
							<h3 style="margin-top: 20px;">
								Liste des clients :
							</h3>
						{% endblock %}
					
						<script>
							function showClientDetails(clientName, clientId) {
								alert("Nom du client: " + clientName + ", ID du client: " + clientId);
								var modalTitle = document.getElementById('modifyTitle');
								modalTitle.textContent = "Modifier : " + clientName;
								
							}
						</script>

						<form id="sortForm">
						<div class="d-flex align-items-center justify-content-center">
							<select 
							
								class="form-select mb-3" 
								aria-label="Default select example" 
								style="width: 20%; margin-left: 68%; border: 1px solid #007bff" 
								required
								id="sortSelect"
								
								value="{sortby}">
								<option selected>trier avec . . .</option>
								<option value="nom">Nom</option>
								<option value="prenom">Prénom</option>
								<option value="Annulé">Annulé . . .</option>
							</select>
							<div class="mx-2"></div>
							<button type="button" 
								class="btn btn-primary ml-2" 
								style="height: 36px; width: 80px;"
								onclick="submitSortForm()">
								Trier
							</button>
						</div>
					</form>

					<script>
						function submitSortForm() {
							const selectedOption = document.getElementById('sortSelect').value;
							const form = document.getElementById('sortForm');

							if(selectedOption == "Annulé" ){
								form.action = '/client/allclients/';
								form.submit();

							} else if (selectedOption == "trier avec . . ."){
								e.preventDefault(e);

							} else {
							form.action = '/client/allclients/' + selectedOption;
							form.submit();
							}
						}
					</script>

						<table class="table table-bordered table-responsive table-hover" style="padding-right:5px; overflow: hidden; padding-right:10px; border-radius:10px; ">
							<thead>
								<tr class="bg-primary text-center text-white">
									<th scope="col" class="col-md-1">Nom</th>
									<th scope="col" class="col-md-1">Prenom</th>
									<th scope="col">CIN</th>
									<th scope="col" class="col-md-1">Email</th>
									<th scope="col">Télephone</th>
									<th scope="col">Adresse domicile</th>
									
								</tr>
							</thead>

							<tbody class=" text-center">
								{% for client in clients %}
									<tr>
										<td><a href="{{ path('show_client', {id: client.id}) }}"> {{client.nom | capitalize}}</a> </td>
										<td class="col-md-2" ><a href="{{ path('show_client', {id: client.id}) }}"> {{ client.prenom | capitalize}}</td>
										<td class="col-md-2"> <a href="{{ path('show_client', {id: client.id}) }}">{{client.cin }}</td>
										<td><a href="{{ path('show_client', {id: client.id}) }}"> {{client.email}}</td>
										<td class="col-md-2"><a href="{{ path('show_client', {id: client.id}) }}"> {{client.telephone}}</td>
										<td><a href="{{ path('show_client', {id: client.id}) }}"> {{ client.adresse_domicile }}</td>
										<!-- an iput to get the id of the specific client -->
										<input type="hidden" id="clientIdInput">

										{# <td>
											<div class="d-flex" style="width: 20px; height: 100%;">
												<a  href="{{ path('show_client', {id: client.id}) }}" type="button"  class="btn btn-primary btn-edit d-flex justify-content-center align-items-center rounded" style="width: 5px; height: 100%;">
													<i class="fas fa-pen"></i>
													<!-- Utilisation de l'icône stylo -->
												</a>

												<div class="mx-2"></div>
												<!-- Ajouter un espace horizontal -->
												<button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-danger d-flex justify-content-center align-items-center rounded mr-5" style="width: 5px; height: 100%;">
													<i class="fas fa-trash"></i>
												</button>

											</div>
										</td> #}
									</tr>
								{% endfor %}
							</tbody>						
						</table>


						<!-- Button edit -->
						<!-- Modal pour la modification d'un client -->
						<form>			
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="modifyTitle">modifier : </h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div class="col">
													<input type="text" class="form-control border-primary" placeholder="Nom">
												</div>
												<div class="col">
													<input type="text" class="form-control border-primary" placeholder="Prenom">
												</div>
											</div>
											<div class="row mt-2">
												<div class="col">
													<input type="text" class="form-control border-primary" placeholder="Télephone">
												</div>
												<div class="col">
													<input type="text" class="form-control border-primary" placeholder="CIN">
												</div>
											</div>
											<div class="row mt-2">
												<div class="col">
													<input type="date" class="form-control border-primary" placeholder="Date de naissance">
												</div>
												<div class="col">
													<input type="text" class="form-control border-primary" placeholder="Adresse domicile">
												</div>
											</div>
										</div>

										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											<a id="updateButton" type="button" class="btn btn-primary" >
												Enregistrer les modification
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
						
						<!-- Button delete -->
						<!-- Modal -->
						<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header" style="background-color: #FADBD8 ">
										<h5 class="modal-title" id="staticBackdropLabel">Suppression</h5>
										<button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										etes vous sûr de supprimer ...
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
										<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Supprimer</button>
									</div>
								</div>
							</div>
						</div>
						
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</main>
		


	</div>
</div></div></div></div></main><div class="fixed-plugin"><a class="fixed-plugin-button text-dark position-fixed px-3 py-2"><i class="fa fa-cog py-2"></i></a><div class="card shadow-lg"><div class="card-header pb-0 pt-3 "><div class="float-start">
<h5 class="mt-3 mb-0">RiskGuard Configuration</h5>
<p>Options</p></div><div class="float-end mt-4">
<button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
	<i class="fa fa-close"></i>
</button></div><!-- End Toggle Button --></div><hr class="horizontal dark my-1"><!-- Sidebar Backgrounds --><div>
<h6 class="mb-0">Couleur de Sidebar</h6></div><a href="javascript:void(0)" class="switch-trigger background-color">
<div class="badge-colors my-2 text-start">
	<span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
	<span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
	<span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
	<span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
	<span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
	<span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
</div></a><!-- Sidenav Type --><div class="mt-3">
<h6 class="mb-0">Type</h6></div><div class="d-flex">
<button class="btn bg-gradient-primary w-100 px-3 mb-2 active me-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
<input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)"></div></div></div></div></div><!--   Core JS Files   --><script src="{{asset('assets/js/core/popper.min.js')}}"></script><script src="{{asset('assets/js/core/bootstrap.min.js')}}"></script><script src="{{asset('assets/js/plugins/perfect-scrollbar.min.js')}}"></script><script src="{{asset('assets/js/plugins/smooth-scrollbar.min.js')}}"></script><script src="{{asset('assets/js/plugins/chartjs.min.js')}}"></script><script>var ctx1 = document.getElementById("chart-line").getContext("2d");

var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
new Chart(ctx1, {
type: "line",
data: {
labels: [
"Apr",
"May",
"Jun",
"Jul",
"Aug",
"Sep",
"Oct",
"Nov",
"Dec"
],
datasets: [
{
label: "Mobile apps",
tension: 0.4,
borderWidth: 0,
pointRadius: 0,
borderColor: "#5e72e4",
backgroundColor: gradientStroke1,
borderWidth: 3,
fill: true,
data: [
50,
40,
300,
220,
500,
250,
400,
230,
500
],
maxBarThickness: 6

}
]
},
options: {
responsive: true,
maintainAspectRatio: false,
plugins: {
legend: {
display: false
}
},
interaction: {
intersect: false,
mode: 'index'
},
scales: {
y: {
grid: {
drawBorder: false,
display: true,
drawOnChartArea: true,
drawTicks: false,
borderDash: [5, 5]
},
ticks: {
display: true,
padding: 10,
color: '#fbfbfb',
font: {
size: 11,
family: "Open Sans",
style: 'normal',
lineHeight: 2
}
}
},
x: {
grid: {
drawBorder: false,
display: false,
drawOnChartArea: false,
drawTicks: false,
borderDash: [5, 5]
},
ticks: {
display: true,
color: '#ccc',
padding: 20,
font: {
size: 11,
family: "Open Sans",
style: 'normal',
lineHeight: 2
}
}
}
}
}
});</script><script>var win = navigator.platform.indexOf('Win') > -1;
if (win && document.querySelector('#sidenav-scrollbar')) {
var options = {
damping: '0.5'
}
Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
}</script><!-- Github buttons --><script async defer src="https://buttons.github.io/buttons.js"></script><!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc --><script src="{{asset('assets/js/argon-dashboard.min.js?v=2.0.4')}}"></script></body></html>
